<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <%- include ('../partials/message') %>
                <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                <a href="https://logwork.com/countdown-x49y" class="countdown-timer" data-style="circles"
                    data-timezone="America/Denver" data-date="2022-12-18 15:45">Lils Comes to Colorado!!!</a>
        </main>

        <%- include ('../partials/footer') %>