<%- include ('../partials/header') %>
    <%- include ('../partials/menu') %>

        <main>
            <%- include ('../partials/message') %>

        </main>

        <%- include ('../partials/footer') %>